@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.bg-primary {
  background-color: #3366ff;
}

.bg-secondary {
  background-color: #142c9f;
}

.text-primary {
  color: #3366ff;
}

.text-secondary {
  color: #142c9f;
}
